.App {
  text-align: center;
  color:aliceblue;
  font-size: 30px;
  font-weight: bold;
  border: 20px solid #61dafb;
  
}

.App-component {
  text-align: center;
  color:rgb(5, 5, 5);
  font-size: 30px;
  font-weight: bold;
  border-top: 20px solid #61dafb;
  
}

.color-text{
  text-align: center;
  color:#61dafb;
  font-size: 30px;
  font-weight: bold;
  border-top: 2px solid #61dafb;
}

.input-form{
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;

}

.input-form:focus{
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 5px;
  color: #61dafb;
  font-weight: bold;
  border-color: #61dafb;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.state{
  background:#282c34
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
